.content-bg{
  background-color: #FFF3F3;
  width: 100%;
  align-items: center;
}

.about-us-p{
  max-width: 350px;
  text-align: justify;
}

.card{
  background-color: var(--main-bg);
  color: var(--text-color);
}
h1{
  font-size: 3.5rem;
  font-family: 'serif';
}
