.background {
  background-color: #FFF3F3;
  width: 100% !important;
  min-height: 325px;
}

h3 {
  margin: auto auto;
  display: flex;
  place-self: center;
  justify-self: center;

  
}

.custom-card{
  margin-bottom: 5px!important;
  min-width: 250px;
}