.react-calendar {
  background-color: var(--content-bg) !important;
  color: var(--text-color) !important;
  transition: var(--theme-transition);
}

.react-calendar__tile--active {
  background-color: #800020 !important;
}

.react-calendar__month-view__days__day {
  color: var(--text-color) !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #800020!important;
}

.react-calendar__navigation__label__labelText{
  color: var(--text-color) !important;
}
.react-calendar__year-view__months__month{
  color: var(--text-color) !important;
}

.react-calendar__navigation__arrow{
  color: var(--text-color) !important;
}

.react-calendar__tile--active.react-calendar__month-view__days__day--weekend{
  color: black!important;
}