.custom-item{
  overflow: hidden;
  position: relative;
  aspect-ratio: 16/9;
}

.split-container{
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-img{
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  
  background: linear-gradient(
    135deg, 
    rgba(255, 255, 255, 0.6) 0%, 
    rgba(99, 8, 8, 0.2) 50%, 
    rgba(99, 8, 8, 0.1) 100%
  );
  
  backdrop-filter: blur(15px) saturate(160%);
  -webkit-backdrop-filter: blur(15px) saturate(160%);
  
  border-right: 1.5px solid rgba(255, 255, 255, 0.25);
  
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  
  display: flex;
  padding-left: 5%;
  padding-top: 5%;
  z-index: 2;
  color: white;
  
  filter: drop-shadow(10px 0px 15px rgba(0, 0, 0, 0.3));
}

.overlay-content h1{
  font-size: 3cqw
}
.carousel-control-prev, .carousel-control-next {
  filter:saturate(10%);
}
