#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Texturina', serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16pt!important;
  line-height: 1.5;
}

@font-face{
  font-family: 'Texturina';
  src: local('Texturina'), url('../assets/Texturina.ttf') format('truetype');
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: light-dark(#FBE6E9, #1A1614)!important;
}

:root {
  padding-top: 50px;
  color-scheme: light dark;
  color: #FBE6E9!important;
  background-color: #242424;
  --content-bg: light-dark(#FFF3F3, #25201E)!important;
  --text-color: light-dark(#000000, #E0D5C1)!important;
  --main-bg: light-dark(#FBE6E9, #1A1614)!important;

}
