#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Texturina', serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16pt !important;
  line-height: 1.5;
}

@font-face {
  font-family: 'Texturina';
  src: local('Texturina'), url('../assets/Texturina.ttf') format('truetype');
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: light-dark(#FBE6E9, #1A1614) !important;
}

:root {
  padding-top: 50px;
  color-scheme: light dark;
  color: #FBE6E9 !important;
  background-color: #242424;
  --content-bg: light-dark(#FFF3F3, #25201E) !important;
  --text-color: light-dark(#000000, #E0D5C1) !important;
  --main-bg: light-dark(#FBE6E9, #1A1614) !important;
  --theme-transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease, filter 0.4s ease;

  --toastify-color-success: light-dark(#FFF3F3, #25201E);
  --toastify-text-color-success: light-dark(#000000, #E0D5C1);
  --toastify-color-error: #800020;

}

.Toastify__progress-bar--success {
  background-color: #800020 !important;
}

body,
.content-bg,
.card,
h1,
p,
.btn-close,
.background {
  transition: var(--theme-transition);
}

html {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  transition: var(--theme-transition);
}

.bg-content {
  background-color: var(--content-bg) !important;
  transition: var(--theme-transition);
}

.text-custom {
  color: var(--text-color) !important;
  transition: var(--theme-transition)!important;
}
.button-custom{
  transition: var(--theme-transition)!important;
  outline: 1 solid !important;
  color: var(--text-color)!important;
}

/* A muted/szürke szöveg dark módban legyen kicsit világosabb */
.text-muted-custom {
  color: light-dark(#6c757d, #a09686) !important;
}

/* A gombok színe dark módban */
.btn-outline-custom {
  color: var(--text-color) !important;
  border-color: var(--text-color) !important;
}

.btn-outline-custom:hover {
  background-color: var(--text-color);
  color: var(--content-bg) !important;
}