h2 {
  text-align: center;
  font-family: 'Texturina', serif !important;
}

.btn-submit {
  background-color: #800020!important;
  color: light-dark(#FBE6E9, #D4AF37);
  font-family: 'Texturina', serif !important;
}
