
.custom-navbar {
  background-color: #800020;
  padding-left: 25px !important;
  padding-right: 25px !important;

}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .dropdown-item {
  color: #FBE6E9;
  color: light-dark(#FBE6E9, #D4AF37)
}
.dropdown-item{
  font-size: 14pt!important;
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-item:hover {
  color: light-dark(#FBE6E9, #D4AF37) !important;
  background-color: transparent;
}

.dropdown-menu {
  background-color: #800020 !important;
}

.active {
  font-weight: bolder!important;
  text-decoration: underline!important;
  color: light-dark(#FBE6E9, #D4AF37) !important;
}

.navbar-toggler-icon{
  filter:brightness(10);
}

@media (width > 1200px) {
  .nav-inner{
    max-width: 1200px!important;
    margin: auto auto;
  }
}

.btn-theme{
  background-color: transparent!important;
  border: none;
}