.content-bg {
  background-color: #FFF3F3;
  background-color: var(--content-bg) !important;
  width: 100% !important;
  align-items: center;
}

.sort-header {
  border-bottom: #800020 solid 1px;
}

body {
  color: var(--text-color) !important;
}

.page-item.active .page-link {
  background-color: #800020 !important;
  color: light-dark(#FBE6E9, #D4AF37) !important;
  transition: var(--theme-transition);

}

.page-item .page-link {
  background-color: light-dark(#FBE6E9, #1A1614) !important;
  color: var(--text-color);
  transition: var(--theme-transition);
  border-color: rgba(128, 0, 32, 0.6) !important;
}

.page-item.disabled .page-link {
  background-color: var(--content-bg) !important;
}

.col-sort {
  border: 1px solid #8A0F0F
}

.col-product {
  min-height: '550px'
}

.card-text {
  font-size: 16px !important;
}

.custom-card {
  min-width: 200px;
  min-height: 535px;
  max-height: 540px;
  cursor: pointer;
}

.limit-select {
  background-color: var(--main-bg);
  color: var(--text-color);
  border-color: #800020;
}

.limit-select:focus {
  outline: none;
}


.btn-primary {
  background-color: #800020;
  border-radius: 8px;
  transition: transform 0.2s ease;
  color: light-dark(#FBE6E9, #D4AF37) !important;
}

.btn-primary:hover {
  background-color: #800020;
  transform: scale(1.05);
}

.btn-primary:active {
  background-color: #800020f2!important;
}
.btn-primary:disabled{
   background-color: #800020f2!important;
}