.content-bg {
  background-color: #FFF3F3;
  background-color: var(--content-bg) !important;
  width: 100% !important;
  align-items: center;
}

.sort-header {
  border-bottom: #800020 solid 1px;
}

.custom-range {
  --ant-slider-track-bg: #800020 !important;
  --ant-slider-handle-color: #800020 !important;
  --ant-slider-handle-active-color: #800020 !important;
  --ant-slider-handle-active-outline-color: rgb(138, 15, 15, 0.3) !important;
  --ant-slider-track-hover-bg: #800020 !important;
  --ant-slider-track-hover-bg: #800020 !important;
  --ant-slider-dot-active-border-color: #800020 !important;
}

.custom-range:hover {
  --ant-slider-track-bg: #800020 !important;
  --ant-slider-handle-color: #800020 !important;
  --ant-slider-handle-active-color: #800020 !important;
  --ant-slider-handle-active-outline-color: rgb(138, 15, 15, 0.3) !important;
  --ant-slider-track-hover-bg: #800020 !important;
  --ant-slider-track-hover-bg: #800020 !important;
  --ant-slider-dot-active-border-color: #800020 !important;
}

.ant-slider-rail {
  background-color: var(--text-color) !important;
}

body {
  color: var(--text-color) !important;
}

.page-item.active .page-link {
  background-color: #800020 !important;
  color: light-dark(#FBE6E9, #D4AF37) !important;
  transition: var(--theme-transition);

}

.page-item .page-link {
  background-color: light-dark(#FBE6E9, #1A1614) !important;
  color: var(--text-color);
  transition: var(--theme-transition);
  border-color: rgba(128, 0, 32, 0.6) !important;
}

.page-item.disabled .page-link {
  background-color: var(--content-bg) !important;
}

.col-sort {
  border: 1px solid #8A0F0F
}

.col-product {
  min-height: '550px'
}

.card-text {
  font-size: 16px !important;
}
