.content-bg {
  background-color: #FFF3F3;
  background-color: var(--content-bg)!important;
  width: 100% !important;
  align-items: center;
}

.sort-header {
  border-bottom: #800020 solid 1px;
}

.custom-range {
  --ant-slider-track-bg: #800020 !important;
  --ant-slider-handle-color: #800020 !important;
  --ant-slider-handle-active-color: #800020 !important;
  --ant-slider-handle-active-outline-color: rgb(138, 15, 15, 0.3) !important;
  --ant-slider-track-hover-bg: #800020 !important;
  --ant-slider-track-hover-bg: #800020 !important;
  --ant-slider-dot-active-border-color: #800020 !important;
}
.custom-range:hover {
  --ant-slider-track-bg: #800020 !important;
  --ant-slider-handle-color: #800020 !important;
  --ant-slider-handle-active-color: #800020 !important;
  --ant-slider-handle-active-outline-color: rgb(138, 15, 15, 0.3) !important;
  --ant-slider-track-hover-bg: #800020 !important;

  --ant-slider-track-hover-bg: #800020 !important;
  --ant-slider-dot-active-border-color: #800020 !important;
}
.ant-slider-rail{
  background-color: var(--text-color)!important;
}

body{
  color: var(--text-color)!important;
}