#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Texturina', serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16pt!important;

}

.custom-navbar {
  background-color: #8A0F0F;
  padding-left: 25px !important;
  padding-right: 25px !important;

}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .dropdown-item {
  color: #FBE6E9 !important;
}
.dropdown-item{
  font-size: 14pt!important;
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-item:hover {
  color: #ffffff !important;
  background-color: transparent;
}

.dropdown-menu {
  background-color: #8A0F0F !important;
  
}

.active {
  font-weight: bolder;
  text-decoration: underline;
}


@font-face{
  font-family: 'Texturina';
  src: local('Texturina'), url('../Assests/Texturina.ttf') format('truetype');
}